body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
}

#navbar{
    display: flex;   
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

.navbar-link{
    padding: 0px 10px 0px 10px;
}

#center{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

button{
    background-color:rgb(166, 167, 167);
    border: none;
}

.sign-in{
    background-color: blue;
    color: white;
}
#search{
    padding: 5px 5px 5px 20px;
    height: 30px;
    width: 300px ;
    border-radius: 10px;
    box-shadow: rgb(65, 64, 64);
    border: 1px solid rgba(0,0,0,0) 
}
a{
    text-decoration: none;
    color: rgba(0,0,0,87);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer{
    display: flex;
    justify-content: space-around;
    border-top: rgb(166, 167, 167);
    border-style: outset;
    background-color:rgb(65, 64, 64) 
    height:80px
    
}

    



